<div class='row'>
  <label for='chart-background-color' class='col-md-6 text-right'> Black and White:</label>
  <input type="checkbox" class="filter black-and-white-check" id="dataset_black_and_white">
</div>
