<div class='help-center'>
  <p>
  Change components from the controls tab to get more info here.
  </p>
  <div class='help-definition indicator'></div>
  <div class='help-definition group-filter'></div>
</div>
