<h4 class='text-center'>Chart Font</h4>
<div class="bfh-selectbox bfh-fonts" data-font="Arial">
</div>
<h4 class='text-center'>Chart Color Options</h4>
<div class='form-inline'>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Background color:
    </label>
    <input class='color form-control' id="chart-background-color"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Title color:
    </label>
    <input class='color form-control' id="title-color"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Label color:
    </label>
    <input class='color form-control' id="label-color"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Y-Axis color:
    </label>
    <input class='color form-control' id="y-axis-color"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      X-Axis color:
    </label>
    <input class='color form-control' id="x-axis-color"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Tick color:
    </label>
    <input class='color form-control' id="tick-color"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Minor Tick color:
    </label>
    <input class='color form-control' id="minor-tick-color"/>
  </div>
  <h4 class='text-center'>Axis Labels</h4>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      Y-Axis Label:
    </label>
    <input class='form-control' id="y-axis-label"/>
  </div>
  <div class='form-group'>
    <label for='chart-background-color' class='col-md-6 text-right'>
      X-Axis Label:
    </label>
    <input class='form-control' id="x-axis-label"/>
  </div>
  <h4 class='text-center'>Axis Title Position</h4>
  <div class='form-group'>
    <label for='y-axis-x-position' class='col-md-6 text-right'>
      Y-Axis X:
    </label>
    <input class='form-control' id="y-axis-x-position" placeholder='Default: 0'/>
  </div>
  <div class='form-group'>
    <label for='y-axis-y-position' class='col-md-6 text-right'>
      Y-Axis Y:
    </label>
    <input class='form-control' id="y-axis-y-position" placeholder='Default: 0'/>
  </div>
  <div class='form-group'>
    <label for='x-axis-x-position' class='col-md-6 text-right'>
      X-Axis X:
    </label>
    <input class='form-control' id="x-axis-x-position" placeholder='Default: 0'/>
  </div>
  <div class='form-group'>
    <label for='x-axis-y-position' class='col-md-6 text-right'>
      X-Axis Y:
    </label>
    <input class='form-control' id="x-axis-y-position" placeholder='Default: 0'/>
  </div>
  <h4 class='text-center'>Marker and Labels</h4>
  <div class='form-group'>
    <label for='marker-size' class='col-md-6 text-right'>
      Marker Size:
    </label>
    <input class='form-control' id="marker-size" placeholder='Default: 4'/>
  </div>
  <div class='form-group'>
    <label for='data-label-x-position' class='col-md-6 text-right'>
      Data Label X:
    </label>
    <input class='form-control' id="data-label-x-position" placeholder='Default: 0' />
  </div>
  <div class='form-group'>
    <label for='data-label-y-position' class='col-md-6 text-right'>
      Data Label Y:
    </label>
    <input class='form-control' id="data-label-y-position" placeholder='Default: -6' />
  </div>
</div>
<br/>
<br/>
<%= button_tag('Chart', type: :button, value: 'Update Chart', id: "submit-chart-filters", class: 'submit-chart i18nable-button btn btn-success btn-block btn-lg', disabled: 'disabled') %>
