<section class="dataset">
  <h3><%= @dataset.name %></h3>

  Embed with:
  <code>
    <%= @dataset.embed_code(request.host_with_port) %>
  </code>
</section>

<section class="charted-dataset">
  <h3>
    Rendered Script:
  </h3>
  <%= render partial: 'chart' %>
</section>
