<div class='container-fluid'>
  <section class="charted-dataset">
    <%= render partial: 'chart' %>
    <h3 class='text-center'>
      Dataset: <%= @dataset.name %>
    <a href="mailto:datalab@pma2020.org">
      <button type="button" class="btn btn-primary">
        <i class='fa fa-paper-plane-o' aria-hidden='true'></i>
        Questions / Suggestions
      </button>
    </a>
    </h3>
    <p>Refer to PMA2020 <a href="http://pma2020.org/snapshot-indicators">Snapshot of Indicators (SOIs)</a> for information about sample sizes for specific estimates. In SOIs, estimates generated from less than 25 unweighted observations are shown in parentheses. Estimates generated from less than 5 unweighted observations are shown in parentheses and in italics.</p>
    <p>PMA2020 uses innovative mobile technology to support low-cost, rapid-turnaround surveys monitoring key indicators for family planning, water, sanitation and hygiene and other health and development indicators. The project is implemented by local university and research organizations in 10 countries, deploying a cadre of female resident enumerators trained in mobile-assisted data collection. PMA2020 establishes a sentinel data collection platform that can be utilized for other health program areas.</p>
  </section>
  <div class="modal fade" id='embed-modal' tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Embed PMA2020 Dataset: <%= @dataset.name %></h4>
        </div>
        <div class="modal-body">
          <p>To embed this dataset and chart into your own site or application copy the code below:</p>
          <pre>
          <%= @dataset.embed_code(request.host_with_port) %>
          </pre>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79130754-1', 'auto');
  ga('send', 'pageview');

  </script>
</div>
