@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
#jhu-chart {
  font-family: 'Roboto', sans-serif;
  font-size: 0;
}
#jhu-chart .fa-mirror {
  transform: rotate(270deg) scale(1, -1);
}
#jhu-chart .row.top-row {
  height: auto;
}
#jhu-chart .row.bottom-row {
  height: auto;
}
#jhu-chart .row [class*='col-'] {
  height: auto;
}
@media (min-width: 992px) {
    #jhu-chart .row.top-row {
    height: 80vh;
  }
    #jhu-chart .row.bottom-row {
    height: 20vh;
  }
    #jhu-chart .row [class*='col-'] {
    height: 100%;
  }
}
#jhu-chart section {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
#jhu-chart section label {
  font-weight: 300;
}
#jhu-chart section b {
  font-weight: 300;
}
#jhu-chart section h4 {
  font-weight: 300;
}
#jhu-chart section.chart-sidebar {
  max-height: 100%;
  color: #55025a;
}
#jhu-chart section.chart-sidebar .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#jhu-chart section.chart-sidebar .btn.btn-primary {
  background-color: #76b1d7;
}
#jhu-chart section.chart-sidebar .btn.btn-primary.active {
  color: #4169E1;
}
#jhu-chart section.chart-sidebar .btn.submit-chart {
  border-color: #55025a;
  background-color: #55025a;
}
#jhu-chart section.chart-sidebar .nav.nav-tabs li.active a {
  background-color: #eaeaea;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane {
  border: 1px solid #eaeaea;
  border-top: none;
  background-color: #eaeaea;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .row {
  margin-bottom: 5%;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .row:last-child {
  margin-bottom: 0;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .form-group {
  margin-bottom: 0;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .input-group .input-group-btn {
  width: 97%;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series {
  max-height: 33vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .row {
  margin-bottom: 5px;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .row:last-child {
  margin-bottom: 0px;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .date-selection span {
  margin-left: 10px;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .country-header {
  cursor: pointer;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .country-header .active {
  color: #00a5ff;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .checkbox-group {
  display: block;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .checkbox-group label {
  display: block;
  color: #737373;
}
#jhu-chart section.chart-sidebar .tab-content .tab-pane .data-series .checkbox-group label input {
  margin: 0 .5em 0 0;
}
#jhu-chart section.chart-viewport {
  height: 100%;
  width: 100%;
}
@media (max-width: 760px) {
    #jhu-chart section.chart-viewport {
    width: 100%;
  }
}
#jhu-chart section.chart-viewport .chart-container {
  height: 100%;
}
#jhu-chart section.chart-viewport .chart-container .chart-placeholder {
  height: 100%;
  margin: 0px auto 50px;
  text-align: center;
  font-size: 2em;
  border: 1px solid #a2a2a2;
}
#jhu-chart section.chart-viewport .chart-container .chart-placeholder h4 i {
  font-size: 10em;
  line-height: 2em;
}
#jhu-chart section.citation-viewport {
  margin-top: 1%;
  width: 100%;
}
#jhu-chart .language-selector-container {
  margin: 0 0 1em 0;
}
#jhu-chart .help-center {
  border: 1px solid #eaeaea;
  padding: 1em;
  background: white;
  border-radius: 5px;
}
#jhu-chart .help-center.active {
  display: block;
}
#jhu-chart .help-center .help-definition {
  margin-top: 10px;
}
#jhu-chart .help-center h1, #jhu-chart .help-center h2, #jhu-chart .help-center h3, #jhu-chart .help-center h4 {
  margin: 0 0 .5em 0;
}
#jhu-chart .help-center span {
  color: #55025a;
  font-style: italic;
}
#jhu-chart .help-center p {
  font-size: .8em;
  font-style: normal;
  margin: 0 0 1em 0;
}
#jhu-chart .help-center p:last-of-type {
  margin: 0;
}
#jhu-chart #series-filters-container {
  width: 100%;
  margin: 0 0 1em 0;
}
#jhu-chart #series-filters-container #series-filters {
  max-height: 15em;
  overflow: auto;
  display: block;
  width: 100%;
  margin: 0 0 .5em 0;
}
#jhu-chart #series-filters-container #series-filters .form-group {
  width: 100%;
  margin: 0 1em 0 0;
}
@media (max-width: 760px) {
    #jhu-chart #series-filters-container #series-filters {
    width: 100%;
    display: block;
    float: none;
  }
}
#jhu-chart #series-filters-container #series-filters-buttons {
  display: block;
  width: 100%;
}
@media (max-width: 760px) {
    #jhu-chart #series-filters-container #series-filters-buttons {
    width: 100%;
    display: block;
    float: none;
  }
}
#jhu-chart .form-group {
  width: 100%;
}
#jhu-chart .form-group.form-group-chart_types {
  width: calc(99% / 10 * 6);
  display: inline-block;
  float: left;
}
#jhu-chart .form-group.overtime-checkbox-container {
  display: block;
  text-align: center;
}
#jhu-chart .form-group.overtime-checkbox-container h4 {
  display: inline-block;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch {
  position: relative;
  display: block;
  width: 4em;
  vertical-align: top;
  margin: 0px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox {
  display: none;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox:checked + label.onoffswitch-label span.onoffswitch-inner {
  margin-left: 0;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox:checked + label.onoffswitch-label span.onoffswitch-switch {
  right: .25em;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox[disabled] + label.onoffswitch-label {
  cursor: default;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox[disabled] + label.onoffswitch-label span.onoffswitch-inner:before, #jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox[disabled] + label.onoffswitch-label span.onoffswitch-inner:after {
  background-color: #eaeaea;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch input.onoffswitch-checkbox[disabled] + label.onoffswitch-label span.onoffswitch-switch {
  background-color: rgba(255, 255, 255, 0.75);
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label {
  display: block;
  overflow: hidden;
  border-radius: .875em;
  border: 1px solid #ddd;
  padding: 0;
  cursor: pointer;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label span.onoffswitch-inner {
  transition: margin 0.3s ease-in 0s;
  display: block;
  width: 200%;
  margin-left: -100%;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label span.onoffswitch-inner:before, #jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label span.onoffswitch-inner:after {
  display: block;
  width: 50%;
  height: 1.75em;
  float: left;
  line-height: 1.75em;
  padding: 0;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label span.onoffswitch-inner:before {
  content: "";
  background-color: #76b1d7;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label span.onoffswitch-inner:after {
  content: "";
  background-color: #737373;
}
#jhu-chart .form-group.overtime-checkbox-container .checkbox-group.onoffswitch label.onoffswitch-label span.onoffswitch-switch {
  transition: right 0.3s ease-in 0s;
  position: absolute;
  top: 50%;
  right: 2.5em;
  bottom: 0;
  display: block;
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  border-radius: .625em;
  margin: -.625em 0 0 0;
}
#jhu-chart .form-group {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
#jhu-chart .form-group h4 {
  margin: .5em 0;
}
