$breakpoint: 760px;

$black: #333;
$medium-gray: lighten($black, 25%);
$light-gray: lighten($black, 65%);

$blue: #00a5ff;
$medium-blue: #0078b5;
$dark-purple: #55025a;
$light-purple: lighten($dark-purple, 25%);

#jhu-chart {
  font-size: 0;
  .row {
    &.top-row {
      height: auto;
    }
    &.bottom-row {
      height: auto;
    }
    [class*='col-'] {
      height: auto;
    }
    @media (min-width: 992px) {
      &.top-row {
        height: 80vh;
      }
      &.bottom-row {
        height: 20vh;
      }
      [class*='col-'] {
        height: 100%;
      }
    }
  }
  section {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    &.chart-sidebar {
      max-height: 100%;
      .nav {
        &.nav-tabs {
          li {
            &.active {
              a {
                background-color: #ddd;
              }
            }
          }
        }
      }
      .tab-content {
        .tab-pane {
          border: 1px solid #ddd;
          border-top: none;
          background-color: #ddd;
          padding: 10px;
          .form-group {
            margin-bottom: 2%;
          }
          .input-group {
            .input-group-btn {
              width: 97%;
            }
          }
          .data-series {
            max-height: 33vh;
            overflow-y: auto;
            overflow-x: hidden;
            .country-header {
              .active {
                color: $blue;
              }
            }
            .checkbox-group {
              display: block;
              label {
                display: block;
                color: $medium-gray;
                input {
                  margin: 0 .5em 0 0;
                }
              }
            }
          }
        }
      }
    }
    &.chart-viewport {
      height: 100%;
      width: 100%;
      @media (max-width: $breakpoint) {
        width: 100%;
      }
      .chart-container {
        height: 100%;
        .chart-placeholder {
          height: 100%;
          margin: 0px auto 50px;
          text-align: center;
          font-size: 2em;
          border: 1px solid #a2a2a2;
          h4 {
            i {
              font-size: 10em;
              line-height: 2em;
            }
          }
        }
      }
    }
    &.citation-viewport {
      margin-top: 1%;
      width: 100%;
    }
  }
  .language-selector-container {
    margin: 0 0 1em 0;
  }
  .help-center {
    display: none;
    border: 1px solid $light-gray;
    padding: 1em;
    &.active {
      display: block;
    }
    h1, h2, h3, h4 {
      margin: 0 0 .5em 0;
    }
    span {
      color: $blue;
      font-style: italic;
    }
    p {
      font-size: .8em;
      font-style: normal;
      margin: 0 0 1em 0;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  #series-filters-container {
    width: 100%;
    margin: 0 0 1em 0;
    #series-filters {
      max-height: 15em;
      overflow: auto;
      display: block;
      width: 100%;
      margin: 0 0 .5em 0;
      .form-group {
        width: 100%;
        margin: 0 1em 0 0;
      }
      @media (max-width: $breakpoint) {
        width: 100%;
        display: block;
        float: none;
      }
    }
    #series-filters-buttons {
      display: block;
      width: 100%;
      @media (max-width: $breakpoint) {
        width: 100%;
        display: block;
        float: none;
      }
    }
  }
  .form-group {
    width: 100%;
    &.form-group-chart_types {
      width: calc(99% / 10 * 6);
      display: inline-block;
      float: left;
    }
    &.overtime-checkbox-container {
      display: block;
      text-align: center;
      h4 {
        display: inline-block;
      }
      .checkbox-group.onoffswitch {
        position: relative;
        display: block;
        width: 4em;
        vertical-align: top;
        margin: 8px auto 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        input.onoffswitch-checkbox {
          display: none;
          &:checked + label.onoffswitch-label {
            span.onoffswitch-inner {
              margin-left: 0;
            }
            span.onoffswitch-switch {
              right: .25em; 
            }
          }
          &[disabled] + label.onoffswitch-label {
            cursor: default;
            span.onoffswitch-inner {
              &:before,
              &:after {
                background-color: $light-gray;
              }
            }
            span.onoffswitch-switch {
              background-color: rgba(255, 255, 255, .75);
            }
          }
        }
        label.onoffswitch-label {
          display: block;
          overflow: hidden;
          border-radius: .875em;
          padding: 0;
          cursor: pointer;
          span.onoffswitch-inner {
            transition: margin 0.3s ease-in 0s;
            display: block;
            width: 200%;
            margin-left: -100%;
            &:before,
            &:after {
              display: block;
              width: 50%;
              height: 1.75em;
              float: left;
              line-height: 1.75em;
              padding: 0;
            }
            &:before {
              content: "";
              background-color: $blue;
            }
            &:after {
              content: "";
              background-color: $medium-gray;
            }
          }
          span.onoffswitch-switch {
            transition: right 0.3s ease-in 0s; 
            position: absolute;
            top: 50%;
            right: 2.5em;
            bottom: 0;
            display: block;
            width: 1.25em;
            height: 1.25em;
            background-color: #fff;
            border-radius: .625em;
            margin: -.625em 0 0 0;
          }
        }
      }
    }
  }
  .form-group {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    h4 {
      margin: .5em;
    }
  }
}
