<footer id="footer">
  <div id="footer-inner" class="wrap">
    <div class="text-reset">
      <div class="region region-footer">
        <div id="block-menu_block-1" class="block block-menu-block smart-footer block-odd first clearfix">
          <div class="block-inner">
            <div class="content">
              <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
                <ul class="menu">
                  <li class="first expanded active-trail active menu-mlid-474 about-us mid-474">
                    <a href="http://www.pma2020.com/about-pma2020" class="active-trail active-trail active">About Us</a>
                    <ul class="menu">
                      <li class="first leaf menu-mlid-1705 our-global-team mid-1705">
                        <a href="http://www.pma2020.com/about-pma-2020/global-team" title="">Our Global Team</a>
                      </li>
                      <li class="leaf menu-mlid-1706 our-funders mid-1706">
                        <a href="http://www.pma2020.com/our-funders">Our Funders</a>
                      </li>
                      <li class="leaf menu-mlid-1707 about-fp2020 mid-1707">
                        <a href="http://www.pma2020.com/about-fp2020">About FP2020</a>
                      </li>
                      <li class="leaf menu-mlid-1708 about-the-gates-institute mid-1708">
                        <a href="http://www.pma2020.com/about-bill-melinda-gates-institute-population-reproductive-health">About the Gates Institute</a>
                      </li>
                      <li class="leaf menu-mlid-1709 contact-us mid-1709">
                        <a href="http://www.pma2020.com/contact-us">Contact Us</a>
                      </li>
                      <li class="last leaf menu-mlid-2085 job-opportunities mid-2085">
                        <a href="http://www.pma2020.com/job-opportunities">Job Opportunities</a>
                      </li>
                    </ul>
                  </li>
                  <li class="expanded menu-mlid-1711 what-we-do mid-1711">
                    <a href="http://www.pma2020.com/how-pma2020-works">What we do</a>
                    <ul class="menu">
                      <li class="first leaf has-children menu-mlid-1730 methodology mid-1730">
                        <a href="http://www.pma2020.com/methodology">Methodology</a>
                      </li>
                      <li class="last leaf menu-mlid-1731 program-areas mid-1731">
                        <a href="http://www.pma2020.com/program-areas">Program Areas</a>
                      </li>
                    </ul>
                  </li>
                  <li class="expanded menu-mlid-1710 data-research mid-1710">
                    <a href="http://www.pma2020.com/data-research">Data &amp; Research</a>
                    <ul class="menu">
                      <li class="first leaf has-children menu-mlid-2092 pma2020-data mid-2092">
                        <a href="http://www.pma2020.com/pma2020-data">PMA2020 Data</a>
                      </li>
                      <li class="leaf menu-mlid-2493 cpr-mcpr-and-unmet-need-table-pma2020-dhs-data- mid-2493">
                        <a href="http://www.pma2020.com/reports/cpr-mcpr-and-unmet-need-table-pma2020-dhs-data">CPR, mCPR and unmet need table (PMA2020 &amp; DHS data)</a>
                      </li>
                      <li class="last leaf menu-mlid-1734 indicators-by-topic-area mid-1734">
                        <a href="http://www.pma2020.com/indicators-topic-area">Indicators by Topic Area</a>
                      </li>
                    </ul>
                  </li>
                  <li class="expanded menu-mlid-1736 publications mid-1736">
                    <a href="http://www.pma2020.com/publications">Publications</a>
                    <ul class="menu">
                      <li class="first leaf menu-mlid-2485 key-indicator-brief mid-2485">
                        <a href="http://www.pma2020.com/key-indicator-brief">Key Indicator Brief</a>
                      </li>
                      <li class="leaf menu-mlid-2449 detailed-indicator-reports mid-2449">
                        <a href="http://www.pma2020.com/detailed-indicator-report">Detailed Indicator Reports</a>
                      </li>
                      <li class="leaf menu-mlid-2305 snapshot-of-indicators mid-2305">
                        <a href="http://www.pma2020.com/snapshot-indicators">Snapshot of Indicators</a>
                      </li>
                      <li class="leaf menu-mlid-2486 progress-report mid-2486">
                        <a href="http://www.pma2020.com/pma2020-progress-report">Progress Report</a>
                      </li>
                      <li class="last leaf menu-mlid-2492 an-overview-what-is-pma2020- mid-2492">
                        <a href="http://www.pma2020.com/overview-what-pma2020">An Overview: What is PMA2020?</a>
                      </li>
                    </ul>
                  </li>
                  <li class="expanded menu-mlid-1712 program-countries mid-1712">
                    <a href="http://www.pma2020.com/program-countries">Program Countries</a>
                    <ul class="menu">
                      <li class="first leaf menu-mlid-2301 baltimore-hq- mid-2301">
                        <a href="http://www.pma2020.com/program-countries/baltimore-hq">Baltimore (HQ)</a>
                      </li>
                      <li class="leaf menu-mlid-1749 ethiopia mid-1749">
                        <a href="http://www.pma2020.com/program-countries/ethiopia">Ethiopia</a>
                      </li>
                      <li class="leaf menu-mlid-1721 ghana mid-1721">
                        <a href="http://www.pma2020.com/program-countries/ghana">Ghana</a>
                      </li>
                      <li class="leaf menu-mlid-1795 kenya mid-1795">
                        <a href="http://www.pma2020.com/program-countries/kenya">Kenya</a>
                      </li>
                      <li class="leaf menu-mlid-2084 nigeria mid-2084">
                        <a href="http://www.pma2020.com/program-countries/nigeria">Nigeria</a>
                      </li>
                      <li class="leaf menu-mlid-1793 india mid-1793">
                        <a href="http://www.pma2020.com/program-countries/india">India</a>
                      </li>
                      <li class="leaf menu-mlid-1798 uganda mid-1798">
                        <a href="http://www.pma2020.com/program-countries/uganda">Uganda</a>
                      </li>
                      <li class="leaf menu-mlid-2088 burkina-faso mid-2088">
                        <a href="http://www.pma2020.com/program-countries/burkina-faso?fr=1">Burkina Faso</a>
                      </li>
                      <li class="leaf menu-mlid-2089 democratic-republic-of-the-congo mid-2089">
                        <a href="http://www.pma2020.com/program-countries/democratic-republic-congo?fr=1">Democratic Republic of the Congo</a>
                      </li>
                      <li class="leaf menu-mlid-1794 indonesia mid-1794">
                        <a href="http://www.pma2020.com/program-countries/indonesia">Indonesia</a>
                      </li>
                      <li class="last leaf menu-mlid-2300 niger mid-2300">
                        <a href="http://www.pma2020.com/program-countries/niger">Niger</a>
                      </li>
                    </ul>
                  </li>
                  <li class="last expanded menu-mlid-1713 news mid-1713">
                    <a href="http://www.pma2020.com/news-media">News</a>
                    <ul class="menu">
                      <li class="first leaf menu-mlid-2081 pma2020-news mid-2081">
                        <a href="http://www.pma2020.com/news">PMA2020 News</a>
                      </li>
                      <li class="leaf menu-mlid-1846 photo-gallery mid-1846">
                        <a href="http://www.pma2020.com/news-progress/photo-gallery" title="">Photo Gallery</a>
                      </li>
                      <li class="leaf menu-mlid-2308 videos mid-2308">
                        <a href="http://www.pma2020.com/videos">Videos</a>
                      </li>
                      <li class="leaf menu-mlid-2370 pma2020-blog-series mid-2370">
                        <a href="http://www.pma2020.com/pma2020-blog-series">PMA2020 Blog Series</a>
                      </li>
                      <li class="leaf menu-mlid-2404 web-stories mid-2404">
                        <a href="http://www.pma2020.com/web-stories">Web Stories</a>
                      </li>
                      <li class="last leaf menu-mlid-2082 join-our-mailing-list mid-2082">
                        <a href="http://www.pma2020.com/join-our-mailing-list">Join Our Mailing List</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- /block-inner /block -->
        <div id="block-block-1" class="block block-block copyright block-even clearfix">
          <div class="block-inner">
            <div class="content">
              <p>
              © 2016 Johns Hopkins University, All Rights Reserved.<br>
              Web Policies, 615 N. Wolfe St, Baltimore, MD 21205<br>
              <a class="bwm" target="_blank" href="http://www.bluewatermedia.com">Web Design</a> by <a class="bwm" target="_blank" href="http://www.bluewatermedia.com">Blue Water Media</a>
              </p>    </div>
          </div>
        </div> <!-- /block-inner /block -->
        <div id="block-block-7" class="block block-block footer-ctas block-odd last clearfix">
          <div class="block-inner">
            <div class="content">
              <!--<a id="jhu-gatesins" class="footer-cta" alt="Bill & Melinda Gates Institute for Population and Reproductive Health "target="_blank" href="http://www.gatesinstitute.org/">
                </a>-->
                <a id="jhu-bloomberg" class="footer-cta" alt="Johns Hopkins University Bloomberg School of Public Health" target="_blank" href="http://www.gatesinstitute.org/">
                </a>
                <a id="jhu-gwp" class="footer-cta" alt="Johns Hopkins University Global Water Program" target="_blank" href="http://globalwater.jhu.edu/">
                </a>
            </div>
          </div>
        </div> <!-- /block-inner /block -->  </div>
    </div>
  </div>
</footer>
