<nav id="navigation">
  <div id="navigation-inner" class="wrap">
    <div id="navigation-inner" class="wrap">
      <div class="region region-navigation">
        <div id="block-superfish-1" class="block block-superfish block-odd first last clearfix">
          <div class="block-inner">
            <div class="content">
              <ul id="superfish-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-none superfish-processed sf-js-enabled">
                <li id="menu-474-1" class="active-trail first sf-depth-1 menuparent">
                  <a href="http://www.pma2020.com/about-pma2020" class="sf-depth-1 menuparent active">About Us</a>
                  <ul class="sf-hidden">
                    <li id="menu-1705-1" class="first sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/about-pma-2020/global-team" class="sf-depth-2">Our Global Team</a>
                    </li>
                    <li id="menu-1706-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/our-funders" class="sf-depth-2">Our Funders</a>
                    </li>
                    <li id="menu-1707-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/about-fp2020" class="sf-depth-2">About FP2020</a>
                    </li>
                    <li id="menu-1708-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/about-bill-melinda-gates-institute-population-reproductive-health" class="sf-depth-2">About the Gates Institute</a>
                    </li>
                    <li id="menu-1709-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/contact-us" class="sf-depth-2">Contact Us</a>
                    </li>
                    <li id="menu-2085-1" class="last sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/job-opportunities" class="sf-depth-2">Job Opportunities</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-1711-1" class="middle sf-depth-1 menuparent">
                  <a href="http://www.pma2020.com/how-pma2020-works" class="sf-depth-1 menuparent">What we do</a>
                  <ul class="sf-hidden">
                    <li id="menu-1730-1" class="first sf-depth-2 menuparent">
                      <a href="http://www.pma2020.com/methodology" class="sf-depth-2 menuparent">Methodology</a>
                      <ul class="sf-hidden">
                        <li id="menu-1732-1" class="first sf-depth-3 sf-no-children">
                          <a href="http://www.pma2020.com/questionnaires" class="sf-depth-3">Questionnaires</a>
                        </li>
                        <li id="menu-1733-1" class="last sf-depth-3 sf-no-children">
                          <a href="http://www.pma2020.com/sampling" class="sf-depth-3">Sampling</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-1731-1" class="last sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-areas" class="sf-depth-2">Program Areas</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-1710-1" class="middle sf-depth-1 menuparent">
                  <a href="http://www.pma2020.com/data-research" class="sf-depth-1 menuparent">Data &amp; Research</a>
                  <ul class="sf-hidden">
                    <li id="menu-2092-1" class="first sf-depth-2 menuparent">
                      <a href="http://www.pma2020.com/pma2020-data" class="sf-depth-2 menuparent">PMA2020 Data</a>
                      <ul class="sf-hidden">
                        <li id="menu-2368-1" class="first sf-depth-3 sf-no-children">
                          <a href="http://www.pma2020.com/request-access-to-datasets" class="sf-depth-3">Request Access to Datasets</a>
                        </li>
                        <li id="menu-2360-1" class="last sf-depth-3 sf-no-children">
                          <a href="http://www.pma2020.com/pma2020-data-use" class="sf-depth-3">PMA2020 Data Use</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-2493-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/reports/cpr-mcpr-and-unmet-need-table-pma2020-dhs-data" class="sf-depth-2">CPR, mCPR and unmet need table (PMA2020 &amp; DHS data)</a>
                    </li>
                    <li id="menu-1734-1" class="last sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/indicators-topic-area" class="sf-depth-2">Indicators by Topic Area</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-1736-1" class="middle sf-depth-1 menuparent">
                  <a href="http://www.pma2020.com/publications" class="sf-depth-1 menuparent">Publications</a>
                  <ul class="sf-hidden" style="display: block;">
                    <li id="menu-2485-1" class="first sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/key-indicator-brief" class="sf-depth-2">Key Indicator Brief</a>
                    </li>
                    <li id="menu-2449-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/detailed-indicator-report" class="sf-depth-2">Detailed Indicator Reports</a>
                    </li>
                    <li id="menu-2305-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/snapshot-indicators" class="sf-depth-2">Snapshot of Indicators</a>
                    </li>
                    <li id="menu-2486-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/pma2020-progress-report" class="sf-depth-2">Progress Report</a>
                    </li>
                    <li id="menu-2492-1" class="last sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/overview-what-pma2020" class="sf-depth-2">An Overview: What is PMA2020?</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-1712-1" class="middle sf-depth-1 menuparent">
                  <a href="http://www.pma2020.com/program-countries" class="sf-depth-1 menuparent">Program Countries</a>
                  <ul class="sf-hidden">
                    <li id="menu-2301-1" class="first sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/baltimore-hq" class="sf-depth-2">Baltimore (HQ)</a>
                    </li>
                    <li id="menu-1749-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/ethiopia" class="sf-depth-2">Ethiopia</a>
                    </li>
                    <li id="menu-1721-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/ghana" class="sf-depth-2">Ghana</a>
                    </li>
                    <li id="menu-1795-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/kenya" class="sf-depth-2">Kenya</a>
                    </li>
                    <li id="menu-2084-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/nigeria" class="sf-depth-2">Nigeria</a>
                    </li>
                    <li id="menu-1793-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/india" class="sf-depth-2">India</a>
                    </li>
                    <li id="menu-1798-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/uganda" class="sf-depth-2">Uganda</a>
                    </li>
                    <li id="menu-2088-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/burkina-faso?fr=1" class="sf-depth-2">Burkina Faso</a>
                    </li>
                    <li id="menu-2089-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/democratic-republic-congo?fr=1" class="sf-depth-2">Democratic Republic of the Congo</a>
                    </li>
                    <li id="menu-1794-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/indonesia" class="sf-depth-2">Indonesia</a>
                    </li>
                    <li id="menu-2300-1" class="last sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/program-countries/niger" class="sf-depth-2">Niger</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-1713-1" class="last sf-depth-1 menuparent">
                  <a href="http://www.pma2020.com/news-media" class="sf-depth-1 menuparent">News</a>
                  <ul class="sf-hidden">
                    <li id="menu-2081-1" class="first sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/news" class="sf-depth-2">PMA2020 News</a>
                    </li>
                    <li id="menu-1846-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/news-progress/photo-gallery" class="sf-depth-2">Photo Gallery</a>
                    </li>
                    <li id="menu-2308-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/videos" class="sf-depth-2">Videos</a>
                    </li>
                    <li id="menu-2370-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/pma2020-blog-series" class="sf-depth-2">PMA2020 Blog Series</a>
                    </li>
                    <li id="menu-2404-1" class="middle sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/web-stories" class="sf-depth-2">Web Stories</a>
                    </li>
                    <li id="menu-2082-1" class="last sf-depth-2 sf-no-children">
                      <a href="http://www.pma2020.com/join-our-mailing-list" class="sf-depth-2">Join Our Mailing List</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div> <!-- /block-inner /block -->  </div>
    </div>
  </div>
</nav>
<div class='not-front'>
  <div id="hero-feature" class="clearfix empty-hero">
    <div id="hero-feature-bg"></div>
    <div id="hero-wrap" class="wrap"></div>
  </div>
</div>
